$font: "Roboto", "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Arial", "sans-serif";

body {
  margin: 0;
}

body, input, button, textarea {
  font-size: 16px;
  font-family: $font;
}

/*
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .15);
}

::-webkit-scrollbar-thumb {
  background-color: #2aabd2;
  border-radius: 6px;
}
*/
.avatar {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  height: 100%;
}

$page-width: 1000px;

$bg-color: rgba(255, 255, 255, 0.9);

body {
  background: url("../img/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.top-bar {
  > nav {
    background: $bg-color;
    border-radius: 0;
  }

  .container-fluid {
    max-width: $page-width;
  }

  .user-nav-dropdown {
    width: 150px;
  }
  .user-nav {
    .user-profile {
      @extend %flex-column;
      width: 200px;
      padding: 1em;
      .avatar {
        width: 80px;
        height: 80px;
        margin: auto;
      }
      .username {
        margin: 1em auto 0;
        font-size: 1.2em;
      }
    }
  }
}

.container {
  max-width: $page-width;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  background: $bg-color;

  .header {
    width: 100%;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    background: #66afe9;
  }

  .sidebar {
    width: 200px;
    float: left;
  }

  .content {
    margin-left: 200px;
  }
}

.sidebar {
  ul {
    padding: 0;
    list-style: none;
    li {
      width: 180px;
      height: 2em;
      text-align: center;
      font-weight: 200;
      a {
        text-decoration: none;
      }
      i {
        margin-right: 1em;
      }
    }
  }
}

.content {
  padding-bottom: 2em;
  .discussion-list {
    .discussions {
      list-style: none;
      padding: 0;
    }
  }

  > * {
    margin-top: 2em;
  }
}

.discussion {
  display: flex;
  height: 4em;
  margin: .8em 0;
  color: #5e5e5e;
  a {
    text-decoration: none;
  }
  .avatar-area {
    font-size: 3em;
    img {
      vertical-align: text-top;
    }
  }
  .profile {
    padding-left: 1em;
    flex-grow: 1;
    .title {
      margin: 5px 0;
      font-size: 1em;
    }
    .preview {
      font-size: .8em;
    }
    .info {
      font-size: .8em;
    }
  }
  .count {
    width: 3em;
    font-size: 1.2em;
    i {
      margin-right: .6em;
    }
    margin-right: 2em;
  }
}

.content {
  .pagination {
    margin: .6em 0 .6em 25%;
  }
}

.new-post {

  position: relative;
  width: 80%;
  .send-button {
    position: absolute;
    padding: .4em 1.4em;
    bottom: .6em;
    right: 1.2em;
    border: 0;
    border-radius: .3em;
    background: #0aa8e3;
    color: #fff;
  }

  .post-title {
    input {
      display: block;
      width: 100%;
      padding: .6em 2em;
      border: 0;
      outline: 0;
      background: #fafafa;
      color: #222;
    }

  }

  .input-area {
    display: block;
    width: 100%;
    height: 144px;
    margin-top: 36px;
    resize: none;
    box-sizing: border-box;
    padding: 1em 2em;
    border: 0;
    background: #f7f7f7;
    color: #222;
    outline: 0;
  }
}

body.login {
  .header {
    background: #4ae94f;
  }
}