body {
  margin: 0; }

body, input, button, textarea {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Arial", "sans-serif"; }

.button-line {
  display: flex;
  justify-content: space-around; }

/*
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .15);
}

::-webkit-scrollbar-thumb {
  background-color: #2aabd2;
  border-radius: 6px;
}
*/
.avatar {
  width: 1em;
  height: 1em;
  border-radius: 50%; }

.top-bar .user-nav .user-profile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  height: 100%; }

body {
  background: url("../img/bg2.jpg");
  background-size: cover;
  background-attachment: fixed; }

.top-bar > nav {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0; }
.top-bar .container-fluid {
  max-width: 1000px; }
.top-bar .user-nav-dropdown {
  width: 150px; }
.top-bar .user-nav .user-profile {
  width: 200px;
  padding: 1em; }
  .top-bar .user-nav .user-profile .avatar {
    width: 80px;
    height: 80px;
    margin: auto; }
  .top-bar .user-nav .user-profile .username {
    margin: 1em auto 0;
    font-size: 1.2em; }

.container {
  max-width: 1000px;
  min-height: 75vh;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.85); }
  .container .header {
    width: 100%;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    background: #66afe9; }
  .container .sidebar {
    width: 200px;
    float: left; }
  .container .content {
    margin-left: 200px; }

.sidebar ul {
  padding: 0;
  list-style: none; }
  .sidebar ul li {
    width: 180px;
    height: 2em;
    text-align: center;
    font-weight: 200; }
    .sidebar ul li a {
      text-decoration: none; }
    .sidebar ul li i {
      margin-right: 1em; }

.content {
  padding-bottom: 2em; }
  .content .discussion-list .discussions {
    list-style: none;
    padding: 0; }
  .content > * {
    margin-top: 2em;
  }

.discussion {
  display: flex;
  /* height: 4em;*/
  margin: .8em 0;
  color: #5e5e5e; }
  .discussion a {
    text-decoration: none; }
  .discussion .avatar-area {
    font-size: 3em; }
    .discussion .avatar-area img {
      vertical-align: text-top; }
  .discussion .profile {
    padding-left: 1em;
    flex-grow: 1; }
    .discussion .profile .title {
      margin: 5px 0;
      font-size: 1em; }
    .discussion .profile .preview {
      font-size: .8em; }
    .discussion .profile .info {
      font-size: .8em; }
  .discussion .count {
    width: 3em;
    font-size: 1.2em;
    margin-right: 2em; }
    .discussion .count i {
      margin-right: .6em; }

.content .pagination {
  margin: .6em 0 .6em 25%; }

.new-post {
  position: relative;
  width: 80%; }
  .new-post .send-button {
    position: absolute;
    padding: .4em 1.4em;
    bottom: .6em;
    right: 1.2em;
    border: 0;
    border-radius: .3em;
    background: #0aa8e3;
    color: #fff; }
  .new-post .post-title input {
    display: block;
    width: 100%;
    padding: .6em 2em;
    border: 0;
    outline: 0;
    background: #fafafa;
    color: #222; }
  .new-post .input-area {
    display: block;
    width: 100%;
    height: 144px;
    margin-top: 36px;
    resize: none;
    box-sizing: border-box;
    padding: 1em 2em;
    border: 0;
    background: #f7f7f7;
    color: #222;
    outline: 0; }

body.login #main, body.register #main {
  position: relative; }
body.login .sidebar, body.register .sidebar {
  position: absolute; }
body.login .content, body.register .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; }
  body.login .content > *, body.register .content > * {
    width: 300px;
    margin-top: 1em; }
body.login .login-box, body.login .register-box, body.register .login-box, body.register .register-box {
  min-width: 260px; }
  body.login .login-box form, body.login .register-box form, body.register .login-box form, body.register .register-box form {
    display: flex;
    flex-direction: column; }
    body.login .login-box form > *, body.login .register-box form > *, body.register .login-box form > *, body.register .register-box form > * {
      margin: .4em 0; }

body.login .header {
  background: #4ae94f; }
body.myhome .header {
  background: #FFAEB9; }
body.admin .header {
  background: #9A32CD; }
body.register .header {
  background: #f78d32; }

.message {
  padding: 1em;
  border-radius: 8px;
  display:none;
}

.message-accept {
  color: #fff;
  background: #14dc64;
  display:none;}

.message-error {
  color: #fff;
  background: #ff4141;
  display:none;}

.copyright {
  box-shadow: 1px 2px 3px #ddd;
  transition: all 0.6s;
  color: #5b6064;
  margin-bottom: 10px;
  padding-top: 20px;
  text-align:center;
  margin-top: 10px;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */
.showreply-title{
  font-size: 22px;
}
.showreply-content{

}
.install{
  width:80%;
  height: 100%;
  margin:0px auto;
  background: rgba(255, 255, 255, 0.85);
}
.ok{
  color: green;
  text-align: center;
  margin-top:10px;
  margin-left:20%;
  margin-right:20%;
  background: rgba(255, 255, 255, 0.85);
}